-
  const burgerMenu = [
    {
      name: 'Главаная',
      href: '#',
    },
    {
      name: 'SPA-ритуалы',
      href: '#',
    },
    {
      name: 'Сертификаты',
      href: '#',
    },
    {
      name: 'Цены',
      href: '#',
    },
    {
      name: 'Акции',
      href: '#',
    },
    {
      name: 'Правила посещения',
      href: '#',
    },
    {
      name: 'О компании',
      href: '#',
    },
    {
      name: 'Новости',
      href: '#',
    },
    {
      name: 'Интерьер',
      href: '#',
    },
    {
      name: 'Отзывы',
      href: '#',
    },
    {
      name: 'Блог',
      href: '#',
    },
    {
      name: 'Контакты',
      href: '#',
    },
  ]

  const rituals = [
    {
      title: {
        text: 'Экспресс программы',
        href: '#',
      },
      list: [
        {
          text: 'Кедровая фитобочка',
          href: '#',
        },
        {
          text: 'Хаммам',
          href: '#',
        },
        {
          text: 'Сауна',
          href: '#',
        },
        {
          text: 'Эликсир Гармонии: Касание Киото',
          href: '#',
        },
        {
          text: 'По следам Гейши: экспресс-ритуал для&nbsp;ног',
          href: '#',
        },
      ]
    },
    {
      title: {
        text: 'Обертывания',
        href: '#',
      },
      list: [
        {
          text: 'Обертывание с&nbsp;горячим шоколадом',
          href: '#',
        },
        {
          text: 'Винное обертывание',
          href: '#',
        },
        {
          text: 'Медовое обертывание',
          href: '#',
        },
        {
          text: 'Обертывание с&nbsp;горячим шоколадом',
          href: '#',
        },
        {
          text: 'Аппликации с&nbsp;грязью мертвого моря',
          href: '#',
        },
      ]
    },
    {
      title: {
        text: 'Расслабляющие SPA ритуалы',
        href: '#',
      },
      list: [
        {
          text: 'Шёпот Саюри: Отдых и&nbsp;Восстановление',
          href: '#',
        },
        {
          text: 'Секреты Императора: Волшебная Стоун-терапия',
          href: '#',
        },
        {
          text: 'Путешествие к&nbsp;Сердцу Японии',
          href: '#',
        },
        {
          text: 'Закат над Фудзи: Путешествие в&nbsp;Спокойствие',
          href: '#',
        },
        {
          text: 'Моменты гармонии',
          href: '#',
        },
      ]
    },
    {
      title: {
        text: 'SPA ритуалы для&nbsp;двоих',
        href: '#',
      },
      list: [
        {
          text: 'Свидание на&nbsp;Фудзи',
          href: '#',
        },
        {
          text: 'Таинство Сакуры',
          href: '#',
        },
        {
          text: 'Нирвана Шоколадного Ханами',
          href: '#',
        },
        {
          text: 'Дух бусидо: Ритуал для&nbsp;самураев',
          href: '#',
        },
        {
          text: 'Цветение Сакуры: Релакс для&nbsp;подруг',
          href: '#',
        },
      ]
    },
    {
      title: {
        text: 'SPA ритуалы с&nbsp;пилингом',
        href: '#',
      },
      list: [
        {
          text: 'Океан Гармонии',
          href: '#',
        },
        {
          text: 'Вдохновение Сакуры',
          href: '#',
        },
        {
          text: 'Тайный Ритуал Гейши',
          href: '#',
        },
      ]
    },
    {
      title: {
        text: 'Интенсивные SPA ритуалы',
        href: '#',
      },
      list: [
        {
          text: 'Фирменный SPA ритуал Киото',
          href: '#',
        },
        {
          text: 'Традиционный Японский массаж Шиацу',
          href: '#',
        },
        {
          text: 'Королевский Японский ритуал',
          href: '#',
        },
        {
          text: 'Император Ямато',
          href: '#',
        },
        {
          text: 'Касание Самурая – ритуал с&nbsp;бамбуковыми палочками',
          href: '#',
        },
        {
          text: 'Энергия Самурая – спортивный массаж',
          href: '#',
        },
        {
          text: 'Изящество Гейши: SLIM массаж',
          href: '#',
        },
      ]
    },
  ]

  const certificates = [
    {
      text: 'Музыкальная шкатулка',
      href: '#',
    },
    {
      text: 'Ароматизированный сертификат',
      href: '#',
    },
    {
      text: 'Веер',
      href: '#',
    },
    {
      text: 'Онлайн сертификат',
      href: '#',
    },
    {
      text: 'Сладкий бокс',
      href: '#',
    },
  ]

  const socialsItemsHeader =[
    { iconHover: 'icon_inst_color', iconStart: 'icon_inst-grey' },
    { iconHover: 'icon_vk_color', iconStart: 'icon_vk-grey' },
  ]

header.header
  .inner
    .header__main-group
      a.header__logo(href='/'): img(src='../../images/logo.svg' alt='')
      +ui-select('header', '', 'Воронеж', 'Липецк', 'Москва', 'Калуга', 'Рязань', 'Санкт-Петербург')(data-placeholder='Ваш город')
      +lang-select('header')
    +ui-button('', 'header, --p-xs, --fz-xs')(onclick='window.openMenu()')
      .svg
        include ../../images/icon_palms.svg
      span SPA ритуалы
    .header__secondary-group
      .header__actions.header__actions--links
        a.header__tel(href='tel:+70000000000') +7 (000) 000-00-00
        +ui-button('Записаться онлайн', '--p-xs, --fz-xs, --outline')
        +ui-button('Купить сертификат', '--p-xs, --fz-xs, --outline')
      .header__actions.header__actions--buttons
        a.header__lk(href='#')
          .svg
            include ../../images/icon_person.svg
        button.header__burger(onclick='window.openBurgerMenu()')
          .svg
            include ../../images/icon_burger.svg
          | Меню
  .header-burger
    button.header__close(onclick='window.closeBurgerMenu()')
      .svg
        include ../../images/icon_cross.svg
    .inner
      ul.header-burger__menu
        each item, index in burgerMenu
          li.header-burger__item
            a.header-burger__link(href=item.href class=(index ? '' : 'active')) !{item.name}
      .header-burger__foot
        +ui-button('Забронировать', 'header-burger')
        .header-burger__links
          +socials(socialsItemsHeader, 'header-burger')
          +ui-button('Войти в личный кабинет', '--p-xs, --outline-gradient')
  .header-menu
    button.header__close(onclick='window.closeMenu()')
      .svg
        include ../../images/icon_cross.svg
    ul.header-menu__menu
      li.header-menu__item
        button.header-menu__button(type='button') SPA ритуалы
        .header-menu__block
          h5.header-menu__header SPA ритуалы
          .header-menu__grid
            each item in rituals
              .header-menu__section
                a.header-menu__title(href=item.title.href) !{item.title.text}
                ul.header-menu__sublist
                  each subitem in item.list
                    li.header-menu__subitem
                      a.header-menu__link(href=subitem.href) !{subitem.text}
      li.header-menu__item
        button.header-menu__button(type='button') Сертификаты
        .header-menu__block
          h5.header-menu__header Сертификаты
          ul.header-menu__list
            each item in certificates
              li.header-menu__li
                a.header-menu__title(href=item.href) !{item.text}
                .header-menu__certificate: img(src='../../images/about_img.jpg' alt='')
